.background {
    background-color: #2d2d29;
    z-index: 0;
}

.navbar {
    position: fixed;
    overflow: hidden;
    width: 100%;
    z-index: 1;
}

.navbar-nav {
    margin-left: auto;
}

.jumbotron {
    background: url(https://images.unsplash.com/photo-1587620962725-abab7fe55159?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2531&q=80) fixed;
    padding-bottom: 120px;
}

.title {
    /* color: #84bc6f; */
    color: white;
    line-height: 12px;
}

.about-style {
    color: white;
}

.portfolio-style {
    /* text-align: center; */
    color: #84bc6f;
}

.grid {
    color: white;
}
.skillset-style {
    color: white;
}
.links-style {
    color: white;
}
.contact-style {
    color: white;
}

nav a {
    text-transform: lowercase;
    font-size: 14px;
    letter-spacing: 1px;
}

footer {
    background-color: #968130;
    margin-top: .75rem;
    /* border-top: solid 1px lightgray; */
    padding: 1rem;
    text-align: center;
}

footer p {
    color: #2d2d29;
    /* text-transform: lowercase; */
}